<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>teste</title>
    <style>
        #id1{
            background-color: aqua;
        }
        #id2{
            border: 1px solid #fafa
        }
        #id3{
            background-color: red;
        }
        #id4{
            border: 1px solid #000;
        }



    </style>
</head>
<body>
    <div id="id1">a</div>
    <div id="id2">b</div>
    <div id="id3">c</div>
    <div id="id4">d</div>
</body>
</html>